$days: 28,29,30,31;
$week: (mon: 0, tue: 1, wed: 2, thu: 3, fri: 4, sat: 5, sun: 6);

body {
  margin: 0;
}

.calendar {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 0 auto;
  width: 710px;

  & > div {
    margin: 0 1px 1px 0;
    background-color: #eee;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    box-sizing: border-box;
    height: 100px;
    width: 100px;
    border: 1px solid;
    transition: 0.5s;
    display: none;

    &:hover {
      background-color: pink;
      transform: translateY(-20px);
    }
  }
}

@each $day, $dayNmb in $week {
  .calendar-#{$day} div:first-child {
    margin-left: ($dayNmb * 101px);
  }
}

@each $day in $days {
  @for $i from 1 through $day {
    .calendar-#{$day} div:nth-child(#{$i}) {
      display: block;
    }
  }
}

@for $i from 1 through 31 {
  .calendar div:nth-child(#{$i})::before {
    content: "#{$i}";
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100px;
  }
}
