body {
  margin: 0; }

.calendar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: 0 auto;
  width: 710px; }
  .calendar > div {
    margin: 0 1px 1px 0;
    background-color: #eee;
    text-align: center;
    line-height: 100px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
  .calendar-mon div:first-child {
    margin-left: 0px; }
  .calendar-tue div:first-child {
    margin-left: 101px; }
  .calendar-wed div:first-child {
    margin-left: 202px; }
  .calendar-thu div:first-child {
    margin-left: 303px; }
  .calendar-fri div:first-child {
    margin-left: 404px; }
  .calendar-sat div:first-child {
    margin-left: 505px; }
  .calendar-sun div:first-child {
    margin-left: 606px; }
  .calendar-28 div:nth-child(1) {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100px;
            flex: 0 0 100px;
    border: 1px solid; }
  .calendar-28 div:nth-child(1)::before {
    content: "1"; }
  .calendar-28 div:nth-child(1):hover {
    background-color: pink;
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
    -webkit-transition: 0.5s;
    transition: 0.5s; }
  .calendar-28 div:nth-child(2) {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100px;
            flex: 0 0 100px;
    border: 1px solid; }
  .calendar-28 div:nth-child(2)::before {
    content: "2"; }
  .calendar-28 div:nth-child(2):hover {
    background-color: pink;
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
    -webkit-transition: 0.5s;
    transition: 0.5s; }
  .calendar-28 div:nth-child(3) {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100px;
            flex: 0 0 100px;
    border: 1px solid; }
  .calendar-28 div:nth-child(3)::before {
    content: "3"; }
  .calendar-28 div:nth-child(3):hover {
    background-color: pink;
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
    -webkit-transition: 0.5s;
    transition: 0.5s; }
  .calendar-28 div:nth-child(4) {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100px;
            flex: 0 0 100px;
    border: 1px solid; }
  .calendar-28 div:nth-child(4)::before {
    content: "4"; }
  .calendar-28 div:nth-child(4):hover {
    background-color: pink;
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
    -webkit-transition: 0.5s;
    transition: 0.5s; }
  .calendar-28 div:nth-child(5) {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100px;
            flex: 0 0 100px;
    border: 1px solid; }
  .calendar-28 div:nth-child(5)::before {
    content: "5"; }
  .calendar-28 div:nth-child(5):hover {
    background-color: pink;
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
    -webkit-transition: 0.5s;
    transition: 0.5s; }
  .calendar-28 div:nth-child(6) {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100px;
            flex: 0 0 100px;
    border: 1px solid; }
  .calendar-28 div:nth-child(6)::before {
    content: "6"; }
  .calendar-28 div:nth-child(6):hover {
    background-color: pink;
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
    -webkit-transition: 0.5s;
    transition: 0.5s; }
  .calendar-28 div:nth-child(7) {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100px;
            flex: 0 0 100px;
    border: 1px solid; }
  .calendar-28 div:nth-child(7)::before {
    content: "7"; }
  .calendar-28 div:nth-child(7):hover {
    background-color: pink;
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
    -webkit-transition: 0.5s;
    transition: 0.5s; }
  .calendar-28 div:nth-child(8) {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100px;
            flex: 0 0 100px;
    border: 1px solid; }
  .calendar-28 div:nth-child(8)::before {
    content: "8"; }
  .calendar-28 div:nth-child(8):hover {
    background-color: pink;
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
    -webkit-transition: 0.5s;
    transition: 0.5s; }
  .calendar-28 div:nth-child(9) {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100px;
            flex: 0 0 100px;
    border: 1px solid; }
  .calendar-28 div:nth-child(9)::before {
    content: "9"; }
  .calendar-28 div:nth-child(9):hover {
    background-color: pink;
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
    -webkit-transition: 0.5s;
    transition: 0.5s; }
  .calendar-28 div:nth-child(10) {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100px;
            flex: 0 0 100px;
    border: 1px solid; }
  .calendar-28 div:nth-child(10)::before {
    content: "10"; }
  .calendar-28 div:nth-child(10):hover {
    background-color: pink;
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
    -webkit-transition: 0.5s;
    transition: 0.5s; }
  .calendar-28 div:nth-child(11) {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100px;
            flex: 0 0 100px;
    border: 1px solid; }
  .calendar-28 div:nth-child(11)::before {
    content: "11"; }
  .calendar-28 div:nth-child(11):hover {
    background-color: pink;
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
    -webkit-transition: 0.5s;
    transition: 0.5s; }
  .calendar-28 div:nth-child(12) {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100px;
            flex: 0 0 100px;
    border: 1px solid; }
  .calendar-28 div:nth-child(12)::before {
    content: "12"; }
  .calendar-28 div:nth-child(12):hover {
    background-color: pink;
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
    -webkit-transition: 0.5s;
    transition: 0.5s; }
  .calendar-28 div:nth-child(13) {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100px;
            flex: 0 0 100px;
    border: 1px solid; }
  .calendar-28 div:nth-child(13)::before {
    content: "13"; }
  .calendar-28 div:nth-child(13):hover {
    background-color: pink;
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
    -webkit-transition: 0.5s;
    transition: 0.5s; }
  .calendar-28 div:nth-child(14) {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100px;
            flex: 0 0 100px;
    border: 1px solid; }
  .calendar-28 div:nth-child(14)::before {
    content: "14"; }
  .calendar-28 div:nth-child(14):hover {
    background-color: pink;
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
    -webkit-transition: 0.5s;
    transition: 0.5s; }
  .calendar-28 div:nth-child(15) {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100px;
            flex: 0 0 100px;
    border: 1px solid; }
  .calendar-28 div:nth-child(15)::before {
    content: "15"; }
  .calendar-28 div:nth-child(15):hover {
    background-color: pink;
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
    -webkit-transition: 0.5s;
    transition: 0.5s; }
  .calendar-28 div:nth-child(16) {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100px;
            flex: 0 0 100px;
    border: 1px solid; }
  .calendar-28 div:nth-child(16)::before {
    content: "16"; }
  .calendar-28 div:nth-child(16):hover {
    background-color: pink;
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
    -webkit-transition: 0.5s;
    transition: 0.5s; }
  .calendar-28 div:nth-child(17) {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100px;
            flex: 0 0 100px;
    border: 1px solid; }
  .calendar-28 div:nth-child(17)::before {
    content: "17"; }
  .calendar-28 div:nth-child(17):hover {
    background-color: pink;
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
    -webkit-transition: 0.5s;
    transition: 0.5s; }
  .calendar-28 div:nth-child(18) {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100px;
            flex: 0 0 100px;
    border: 1px solid; }
  .calendar-28 div:nth-child(18)::before {
    content: "18"; }
  .calendar-28 div:nth-child(18):hover {
    background-color: pink;
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
    -webkit-transition: 0.5s;
    transition: 0.5s; }
  .calendar-28 div:nth-child(19) {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100px;
            flex: 0 0 100px;
    border: 1px solid; }
  .calendar-28 div:nth-child(19)::before {
    content: "19"; }
  .calendar-28 div:nth-child(19):hover {
    background-color: pink;
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
    -webkit-transition: 0.5s;
    transition: 0.5s; }
  .calendar-28 div:nth-child(20) {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100px;
            flex: 0 0 100px;
    border: 1px solid; }
  .calendar-28 div:nth-child(20)::before {
    content: "20"; }
  .calendar-28 div:nth-child(20):hover {
    background-color: pink;
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
    -webkit-transition: 0.5s;
    transition: 0.5s; }
  .calendar-28 div:nth-child(21) {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100px;
            flex: 0 0 100px;
    border: 1px solid; }
  .calendar-28 div:nth-child(21)::before {
    content: "21"; }
  .calendar-28 div:nth-child(21):hover {
    background-color: pink;
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
    -webkit-transition: 0.5s;
    transition: 0.5s; }
  .calendar-28 div:nth-child(22) {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100px;
            flex: 0 0 100px;
    border: 1px solid; }
  .calendar-28 div:nth-child(22)::before {
    content: "22"; }
  .calendar-28 div:nth-child(22):hover {
    background-color: pink;
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
    -webkit-transition: 0.5s;
    transition: 0.5s; }
  .calendar-28 div:nth-child(23) {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100px;
            flex: 0 0 100px;
    border: 1px solid; }
  .calendar-28 div:nth-child(23)::before {
    content: "23"; }
  .calendar-28 div:nth-child(23):hover {
    background-color: pink;
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
    -webkit-transition: 0.5s;
    transition: 0.5s; }
  .calendar-28 div:nth-child(24) {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100px;
            flex: 0 0 100px;
    border: 1px solid; }
  .calendar-28 div:nth-child(24)::before {
    content: "24"; }
  .calendar-28 div:nth-child(24):hover {
    background-color: pink;
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
    -webkit-transition: 0.5s;
    transition: 0.5s; }
  .calendar-28 div:nth-child(25) {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100px;
            flex: 0 0 100px;
    border: 1px solid; }
  .calendar-28 div:nth-child(25)::before {
    content: "25"; }
  .calendar-28 div:nth-child(25):hover {
    background-color: pink;
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
    -webkit-transition: 0.5s;
    transition: 0.5s; }
  .calendar-28 div:nth-child(26) {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100px;
            flex: 0 0 100px;
    border: 1px solid; }
  .calendar-28 div:nth-child(26)::before {
    content: "26"; }
  .calendar-28 div:nth-child(26):hover {
    background-color: pink;
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
    -webkit-transition: 0.5s;
    transition: 0.5s; }
  .calendar-28 div:nth-child(27) {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100px;
            flex: 0 0 100px;
    border: 1px solid; }
  .calendar-28 div:nth-child(27)::before {
    content: "27"; }
  .calendar-28 div:nth-child(27):hover {
    background-color: pink;
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
    -webkit-transition: 0.5s;
    transition: 0.5s; }
  .calendar-28 div:nth-child(28) {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100px;
            flex: 0 0 100px;
    border: 1px solid; }
  .calendar-28 div:nth-child(28)::before {
    content: "28"; }
  .calendar-28 div:nth-child(28):hover {
    background-color: pink;
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
    -webkit-transition: 0.5s;
    transition: 0.5s; }
  .calendar-29 div:nth-child(1) {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100px;
            flex: 0 0 100px;
    border: 1px solid; }
  .calendar-29 div:nth-child(1)::before {
    content: "1"; }
  .calendar-29 div:nth-child(1):hover {
    background-color: pink;
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
    -webkit-transition: 0.5s;
    transition: 0.5s; }
  .calendar-29 div:nth-child(2) {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100px;
            flex: 0 0 100px;
    border: 1px solid; }
  .calendar-29 div:nth-child(2)::before {
    content: "2"; }
  .calendar-29 div:nth-child(2):hover {
    background-color: pink;
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
    -webkit-transition: 0.5s;
    transition: 0.5s; }
  .calendar-29 div:nth-child(3) {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100px;
            flex: 0 0 100px;
    border: 1px solid; }
  .calendar-29 div:nth-child(3)::before {
    content: "3"; }
  .calendar-29 div:nth-child(3):hover {
    background-color: pink;
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
    -webkit-transition: 0.5s;
    transition: 0.5s; }
  .calendar-29 div:nth-child(4) {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100px;
            flex: 0 0 100px;
    border: 1px solid; }
  .calendar-29 div:nth-child(4)::before {
    content: "4"; }
  .calendar-29 div:nth-child(4):hover {
    background-color: pink;
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
    -webkit-transition: 0.5s;
    transition: 0.5s; }
  .calendar-29 div:nth-child(5) {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100px;
            flex: 0 0 100px;
    border: 1px solid; }
  .calendar-29 div:nth-child(5)::before {
    content: "5"; }
  .calendar-29 div:nth-child(5):hover {
    background-color: pink;
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
    -webkit-transition: 0.5s;
    transition: 0.5s; }
  .calendar-29 div:nth-child(6) {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100px;
            flex: 0 0 100px;
    border: 1px solid; }
  .calendar-29 div:nth-child(6)::before {
    content: "6"; }
  .calendar-29 div:nth-child(6):hover {
    background-color: pink;
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
    -webkit-transition: 0.5s;
    transition: 0.5s; }
  .calendar-29 div:nth-child(7) {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100px;
            flex: 0 0 100px;
    border: 1px solid; }
  .calendar-29 div:nth-child(7)::before {
    content: "7"; }
  .calendar-29 div:nth-child(7):hover {
    background-color: pink;
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
    -webkit-transition: 0.5s;
    transition: 0.5s; }
  .calendar-29 div:nth-child(8) {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100px;
            flex: 0 0 100px;
    border: 1px solid; }
  .calendar-29 div:nth-child(8)::before {
    content: "8"; }
  .calendar-29 div:nth-child(8):hover {
    background-color: pink;
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
    -webkit-transition: 0.5s;
    transition: 0.5s; }
  .calendar-29 div:nth-child(9) {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100px;
            flex: 0 0 100px;
    border: 1px solid; }
  .calendar-29 div:nth-child(9)::before {
    content: "9"; }
  .calendar-29 div:nth-child(9):hover {
    background-color: pink;
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
    -webkit-transition: 0.5s;
    transition: 0.5s; }
  .calendar-29 div:nth-child(10) {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100px;
            flex: 0 0 100px;
    border: 1px solid; }
  .calendar-29 div:nth-child(10)::before {
    content: "10"; }
  .calendar-29 div:nth-child(10):hover {
    background-color: pink;
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
    -webkit-transition: 0.5s;
    transition: 0.5s; }
  .calendar-29 div:nth-child(11) {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100px;
            flex: 0 0 100px;
    border: 1px solid; }
  .calendar-29 div:nth-child(11)::before {
    content: "11"; }
  .calendar-29 div:nth-child(11):hover {
    background-color: pink;
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
    -webkit-transition: 0.5s;
    transition: 0.5s; }
  .calendar-29 div:nth-child(12) {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100px;
            flex: 0 0 100px;
    border: 1px solid; }
  .calendar-29 div:nth-child(12)::before {
    content: "12"; }
  .calendar-29 div:nth-child(12):hover {
    background-color: pink;
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
    -webkit-transition: 0.5s;
    transition: 0.5s; }
  .calendar-29 div:nth-child(13) {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100px;
            flex: 0 0 100px;
    border: 1px solid; }
  .calendar-29 div:nth-child(13)::before {
    content: "13"; }
  .calendar-29 div:nth-child(13):hover {
    background-color: pink;
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
    -webkit-transition: 0.5s;
    transition: 0.5s; }
  .calendar-29 div:nth-child(14) {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100px;
            flex: 0 0 100px;
    border: 1px solid; }
  .calendar-29 div:nth-child(14)::before {
    content: "14"; }
  .calendar-29 div:nth-child(14):hover {
    background-color: pink;
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
    -webkit-transition: 0.5s;
    transition: 0.5s; }
  .calendar-29 div:nth-child(15) {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100px;
            flex: 0 0 100px;
    border: 1px solid; }
  .calendar-29 div:nth-child(15)::before {
    content: "15"; }
  .calendar-29 div:nth-child(15):hover {
    background-color: pink;
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
    -webkit-transition: 0.5s;
    transition: 0.5s; }
  .calendar-29 div:nth-child(16) {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100px;
            flex: 0 0 100px;
    border: 1px solid; }
  .calendar-29 div:nth-child(16)::before {
    content: "16"; }
  .calendar-29 div:nth-child(16):hover {
    background-color: pink;
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
    -webkit-transition: 0.5s;
    transition: 0.5s; }
  .calendar-29 div:nth-child(17) {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100px;
            flex: 0 0 100px;
    border: 1px solid; }
  .calendar-29 div:nth-child(17)::before {
    content: "17"; }
  .calendar-29 div:nth-child(17):hover {
    background-color: pink;
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
    -webkit-transition: 0.5s;
    transition: 0.5s; }
  .calendar-29 div:nth-child(18) {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100px;
            flex: 0 0 100px;
    border: 1px solid; }
  .calendar-29 div:nth-child(18)::before {
    content: "18"; }
  .calendar-29 div:nth-child(18):hover {
    background-color: pink;
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
    -webkit-transition: 0.5s;
    transition: 0.5s; }
  .calendar-29 div:nth-child(19) {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100px;
            flex: 0 0 100px;
    border: 1px solid; }
  .calendar-29 div:nth-child(19)::before {
    content: "19"; }
  .calendar-29 div:nth-child(19):hover {
    background-color: pink;
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
    -webkit-transition: 0.5s;
    transition: 0.5s; }
  .calendar-29 div:nth-child(20) {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100px;
            flex: 0 0 100px;
    border: 1px solid; }
  .calendar-29 div:nth-child(20)::before {
    content: "20"; }
  .calendar-29 div:nth-child(20):hover {
    background-color: pink;
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
    -webkit-transition: 0.5s;
    transition: 0.5s; }
  .calendar-29 div:nth-child(21) {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100px;
            flex: 0 0 100px;
    border: 1px solid; }
  .calendar-29 div:nth-child(21)::before {
    content: "21"; }
  .calendar-29 div:nth-child(21):hover {
    background-color: pink;
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
    -webkit-transition: 0.5s;
    transition: 0.5s; }
  .calendar-29 div:nth-child(22) {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100px;
            flex: 0 0 100px;
    border: 1px solid; }
  .calendar-29 div:nth-child(22)::before {
    content: "22"; }
  .calendar-29 div:nth-child(22):hover {
    background-color: pink;
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
    -webkit-transition: 0.5s;
    transition: 0.5s; }
  .calendar-29 div:nth-child(23) {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100px;
            flex: 0 0 100px;
    border: 1px solid; }
  .calendar-29 div:nth-child(23)::before {
    content: "23"; }
  .calendar-29 div:nth-child(23):hover {
    background-color: pink;
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
    -webkit-transition: 0.5s;
    transition: 0.5s; }
  .calendar-29 div:nth-child(24) {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100px;
            flex: 0 0 100px;
    border: 1px solid; }
  .calendar-29 div:nth-child(24)::before {
    content: "24"; }
  .calendar-29 div:nth-child(24):hover {
    background-color: pink;
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
    -webkit-transition: 0.5s;
    transition: 0.5s; }
  .calendar-29 div:nth-child(25) {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100px;
            flex: 0 0 100px;
    border: 1px solid; }
  .calendar-29 div:nth-child(25)::before {
    content: "25"; }
  .calendar-29 div:nth-child(25):hover {
    background-color: pink;
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
    -webkit-transition: 0.5s;
    transition: 0.5s; }
  .calendar-29 div:nth-child(26) {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100px;
            flex: 0 0 100px;
    border: 1px solid; }
  .calendar-29 div:nth-child(26)::before {
    content: "26"; }
  .calendar-29 div:nth-child(26):hover {
    background-color: pink;
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
    -webkit-transition: 0.5s;
    transition: 0.5s; }
  .calendar-29 div:nth-child(27) {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100px;
            flex: 0 0 100px;
    border: 1px solid; }
  .calendar-29 div:nth-child(27)::before {
    content: "27"; }
  .calendar-29 div:nth-child(27):hover {
    background-color: pink;
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
    -webkit-transition: 0.5s;
    transition: 0.5s; }
  .calendar-29 div:nth-child(28) {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100px;
            flex: 0 0 100px;
    border: 1px solid; }
  .calendar-29 div:nth-child(28)::before {
    content: "28"; }
  .calendar-29 div:nth-child(28):hover {
    background-color: pink;
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
    -webkit-transition: 0.5s;
    transition: 0.5s; }
  .calendar-29 div:nth-child(29) {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100px;
            flex: 0 0 100px;
    border: 1px solid; }
  .calendar-29 div:nth-child(29)::before {
    content: "29"; }
  .calendar-29 div:nth-child(29):hover {
    background-color: pink;
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
    -webkit-transition: 0.5s;
    transition: 0.5s; }
  .calendar-30 div:nth-child(1) {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100px;
            flex: 0 0 100px;
    border: 1px solid; }
  .calendar-30 div:nth-child(1)::before {
    content: "1"; }
  .calendar-30 div:nth-child(1):hover {
    background-color: pink;
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
    -webkit-transition: 0.5s;
    transition: 0.5s; }
  .calendar-30 div:nth-child(2) {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100px;
            flex: 0 0 100px;
    border: 1px solid; }
  .calendar-30 div:nth-child(2)::before {
    content: "2"; }
  .calendar-30 div:nth-child(2):hover {
    background-color: pink;
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
    -webkit-transition: 0.5s;
    transition: 0.5s; }
  .calendar-30 div:nth-child(3) {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100px;
            flex: 0 0 100px;
    border: 1px solid; }
  .calendar-30 div:nth-child(3)::before {
    content: "3"; }
  .calendar-30 div:nth-child(3):hover {
    background-color: pink;
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
    -webkit-transition: 0.5s;
    transition: 0.5s; }
  .calendar-30 div:nth-child(4) {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100px;
            flex: 0 0 100px;
    border: 1px solid; }
  .calendar-30 div:nth-child(4)::before {
    content: "4"; }
  .calendar-30 div:nth-child(4):hover {
    background-color: pink;
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
    -webkit-transition: 0.5s;
    transition: 0.5s; }
  .calendar-30 div:nth-child(5) {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100px;
            flex: 0 0 100px;
    border: 1px solid; }
  .calendar-30 div:nth-child(5)::before {
    content: "5"; }
  .calendar-30 div:nth-child(5):hover {
    background-color: pink;
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
    -webkit-transition: 0.5s;
    transition: 0.5s; }
  .calendar-30 div:nth-child(6) {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100px;
            flex: 0 0 100px;
    border: 1px solid; }
  .calendar-30 div:nth-child(6)::before {
    content: "6"; }
  .calendar-30 div:nth-child(6):hover {
    background-color: pink;
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
    -webkit-transition: 0.5s;
    transition: 0.5s; }
  .calendar-30 div:nth-child(7) {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100px;
            flex: 0 0 100px;
    border: 1px solid; }
  .calendar-30 div:nth-child(7)::before {
    content: "7"; }
  .calendar-30 div:nth-child(7):hover {
    background-color: pink;
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
    -webkit-transition: 0.5s;
    transition: 0.5s; }
  .calendar-30 div:nth-child(8) {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100px;
            flex: 0 0 100px;
    border: 1px solid; }
  .calendar-30 div:nth-child(8)::before {
    content: "8"; }
  .calendar-30 div:nth-child(8):hover {
    background-color: pink;
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
    -webkit-transition: 0.5s;
    transition: 0.5s; }
  .calendar-30 div:nth-child(9) {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100px;
            flex: 0 0 100px;
    border: 1px solid; }
  .calendar-30 div:nth-child(9)::before {
    content: "9"; }
  .calendar-30 div:nth-child(9):hover {
    background-color: pink;
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
    -webkit-transition: 0.5s;
    transition: 0.5s; }
  .calendar-30 div:nth-child(10) {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100px;
            flex: 0 0 100px;
    border: 1px solid; }
  .calendar-30 div:nth-child(10)::before {
    content: "10"; }
  .calendar-30 div:nth-child(10):hover {
    background-color: pink;
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
    -webkit-transition: 0.5s;
    transition: 0.5s; }
  .calendar-30 div:nth-child(11) {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100px;
            flex: 0 0 100px;
    border: 1px solid; }
  .calendar-30 div:nth-child(11)::before {
    content: "11"; }
  .calendar-30 div:nth-child(11):hover {
    background-color: pink;
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
    -webkit-transition: 0.5s;
    transition: 0.5s; }
  .calendar-30 div:nth-child(12) {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100px;
            flex: 0 0 100px;
    border: 1px solid; }
  .calendar-30 div:nth-child(12)::before {
    content: "12"; }
  .calendar-30 div:nth-child(12):hover {
    background-color: pink;
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
    -webkit-transition: 0.5s;
    transition: 0.5s; }
  .calendar-30 div:nth-child(13) {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100px;
            flex: 0 0 100px;
    border: 1px solid; }
  .calendar-30 div:nth-child(13)::before {
    content: "13"; }
  .calendar-30 div:nth-child(13):hover {
    background-color: pink;
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
    -webkit-transition: 0.5s;
    transition: 0.5s; }
  .calendar-30 div:nth-child(14) {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100px;
            flex: 0 0 100px;
    border: 1px solid; }
  .calendar-30 div:nth-child(14)::before {
    content: "14"; }
  .calendar-30 div:nth-child(14):hover {
    background-color: pink;
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
    -webkit-transition: 0.5s;
    transition: 0.5s; }
  .calendar-30 div:nth-child(15) {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100px;
            flex: 0 0 100px;
    border: 1px solid; }
  .calendar-30 div:nth-child(15)::before {
    content: "15"; }
  .calendar-30 div:nth-child(15):hover {
    background-color: pink;
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
    -webkit-transition: 0.5s;
    transition: 0.5s; }
  .calendar-30 div:nth-child(16) {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100px;
            flex: 0 0 100px;
    border: 1px solid; }
  .calendar-30 div:nth-child(16)::before {
    content: "16"; }
  .calendar-30 div:nth-child(16):hover {
    background-color: pink;
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
    -webkit-transition: 0.5s;
    transition: 0.5s; }
  .calendar-30 div:nth-child(17) {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100px;
            flex: 0 0 100px;
    border: 1px solid; }
  .calendar-30 div:nth-child(17)::before {
    content: "17"; }
  .calendar-30 div:nth-child(17):hover {
    background-color: pink;
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
    -webkit-transition: 0.5s;
    transition: 0.5s; }
  .calendar-30 div:nth-child(18) {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100px;
            flex: 0 0 100px;
    border: 1px solid; }
  .calendar-30 div:nth-child(18)::before {
    content: "18"; }
  .calendar-30 div:nth-child(18):hover {
    background-color: pink;
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
    -webkit-transition: 0.5s;
    transition: 0.5s; }
  .calendar-30 div:nth-child(19) {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100px;
            flex: 0 0 100px;
    border: 1px solid; }
  .calendar-30 div:nth-child(19)::before {
    content: "19"; }
  .calendar-30 div:nth-child(19):hover {
    background-color: pink;
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
    -webkit-transition: 0.5s;
    transition: 0.5s; }
  .calendar-30 div:nth-child(20) {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100px;
            flex: 0 0 100px;
    border: 1px solid; }
  .calendar-30 div:nth-child(20)::before {
    content: "20"; }
  .calendar-30 div:nth-child(20):hover {
    background-color: pink;
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
    -webkit-transition: 0.5s;
    transition: 0.5s; }
  .calendar-30 div:nth-child(21) {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100px;
            flex: 0 0 100px;
    border: 1px solid; }
  .calendar-30 div:nth-child(21)::before {
    content: "21"; }
  .calendar-30 div:nth-child(21):hover {
    background-color: pink;
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
    -webkit-transition: 0.5s;
    transition: 0.5s; }
  .calendar-30 div:nth-child(22) {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100px;
            flex: 0 0 100px;
    border: 1px solid; }
  .calendar-30 div:nth-child(22)::before {
    content: "22"; }
  .calendar-30 div:nth-child(22):hover {
    background-color: pink;
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
    -webkit-transition: 0.5s;
    transition: 0.5s; }
  .calendar-30 div:nth-child(23) {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100px;
            flex: 0 0 100px;
    border: 1px solid; }
  .calendar-30 div:nth-child(23)::before {
    content: "23"; }
  .calendar-30 div:nth-child(23):hover {
    background-color: pink;
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
    -webkit-transition: 0.5s;
    transition: 0.5s; }
  .calendar-30 div:nth-child(24) {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100px;
            flex: 0 0 100px;
    border: 1px solid; }
  .calendar-30 div:nth-child(24)::before {
    content: "24"; }
  .calendar-30 div:nth-child(24):hover {
    background-color: pink;
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
    -webkit-transition: 0.5s;
    transition: 0.5s; }
  .calendar-30 div:nth-child(25) {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100px;
            flex: 0 0 100px;
    border: 1px solid; }
  .calendar-30 div:nth-child(25)::before {
    content: "25"; }
  .calendar-30 div:nth-child(25):hover {
    background-color: pink;
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
    -webkit-transition: 0.5s;
    transition: 0.5s; }
  .calendar-30 div:nth-child(26) {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100px;
            flex: 0 0 100px;
    border: 1px solid; }
  .calendar-30 div:nth-child(26)::before {
    content: "26"; }
  .calendar-30 div:nth-child(26):hover {
    background-color: pink;
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
    -webkit-transition: 0.5s;
    transition: 0.5s; }
  .calendar-30 div:nth-child(27) {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100px;
            flex: 0 0 100px;
    border: 1px solid; }
  .calendar-30 div:nth-child(27)::before {
    content: "27"; }
  .calendar-30 div:nth-child(27):hover {
    background-color: pink;
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
    -webkit-transition: 0.5s;
    transition: 0.5s; }
  .calendar-30 div:nth-child(28) {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100px;
            flex: 0 0 100px;
    border: 1px solid; }
  .calendar-30 div:nth-child(28)::before {
    content: "28"; }
  .calendar-30 div:nth-child(28):hover {
    background-color: pink;
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
    -webkit-transition: 0.5s;
    transition: 0.5s; }
  .calendar-30 div:nth-child(29) {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100px;
            flex: 0 0 100px;
    border: 1px solid; }
  .calendar-30 div:nth-child(29)::before {
    content: "29"; }
  .calendar-30 div:nth-child(29):hover {
    background-color: pink;
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
    -webkit-transition: 0.5s;
    transition: 0.5s; }
  .calendar-30 div:nth-child(30) {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100px;
            flex: 0 0 100px;
    border: 1px solid; }
  .calendar-30 div:nth-child(30)::before {
    content: "30"; }
  .calendar-30 div:nth-child(30):hover {
    background-color: pink;
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
    -webkit-transition: 0.5s;
    transition: 0.5s; }
  .calendar-31 div:nth-child(1) {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100px;
            flex: 0 0 100px;
    border: 1px solid; }
  .calendar-31 div:nth-child(1)::before {
    content: "1"; }
  .calendar-31 div:nth-child(1):hover {
    background-color: pink;
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
    -webkit-transition: 0.5s;
    transition: 0.5s; }
  .calendar-31 div:nth-child(2) {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100px;
            flex: 0 0 100px;
    border: 1px solid; }
  .calendar-31 div:nth-child(2)::before {
    content: "2"; }
  .calendar-31 div:nth-child(2):hover {
    background-color: pink;
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
    -webkit-transition: 0.5s;
    transition: 0.5s; }
  .calendar-31 div:nth-child(3) {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100px;
            flex: 0 0 100px;
    border: 1px solid; }
  .calendar-31 div:nth-child(3)::before {
    content: "3"; }
  .calendar-31 div:nth-child(3):hover {
    background-color: pink;
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
    -webkit-transition: 0.5s;
    transition: 0.5s; }
  .calendar-31 div:nth-child(4) {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100px;
            flex: 0 0 100px;
    border: 1px solid; }
  .calendar-31 div:nth-child(4)::before {
    content: "4"; }
  .calendar-31 div:nth-child(4):hover {
    background-color: pink;
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
    -webkit-transition: 0.5s;
    transition: 0.5s; }
  .calendar-31 div:nth-child(5) {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100px;
            flex: 0 0 100px;
    border: 1px solid; }
  .calendar-31 div:nth-child(5)::before {
    content: "5"; }
  .calendar-31 div:nth-child(5):hover {
    background-color: pink;
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
    -webkit-transition: 0.5s;
    transition: 0.5s; }
  .calendar-31 div:nth-child(6) {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100px;
            flex: 0 0 100px;
    border: 1px solid; }
  .calendar-31 div:nth-child(6)::before {
    content: "6"; }
  .calendar-31 div:nth-child(6):hover {
    background-color: pink;
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
    -webkit-transition: 0.5s;
    transition: 0.5s; }
  .calendar-31 div:nth-child(7) {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100px;
            flex: 0 0 100px;
    border: 1px solid; }
  .calendar-31 div:nth-child(7)::before {
    content: "7"; }
  .calendar-31 div:nth-child(7):hover {
    background-color: pink;
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
    -webkit-transition: 0.5s;
    transition: 0.5s; }
  .calendar-31 div:nth-child(8) {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100px;
            flex: 0 0 100px;
    border: 1px solid; }
  .calendar-31 div:nth-child(8)::before {
    content: "8"; }
  .calendar-31 div:nth-child(8):hover {
    background-color: pink;
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
    -webkit-transition: 0.5s;
    transition: 0.5s; }
  .calendar-31 div:nth-child(9) {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100px;
            flex: 0 0 100px;
    border: 1px solid; }
  .calendar-31 div:nth-child(9)::before {
    content: "9"; }
  .calendar-31 div:nth-child(9):hover {
    background-color: pink;
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
    -webkit-transition: 0.5s;
    transition: 0.5s; }
  .calendar-31 div:nth-child(10) {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100px;
            flex: 0 0 100px;
    border: 1px solid; }
  .calendar-31 div:nth-child(10)::before {
    content: "10"; }
  .calendar-31 div:nth-child(10):hover {
    background-color: pink;
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
    -webkit-transition: 0.5s;
    transition: 0.5s; }
  .calendar-31 div:nth-child(11) {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100px;
            flex: 0 0 100px;
    border: 1px solid; }
  .calendar-31 div:nth-child(11)::before {
    content: "11"; }
  .calendar-31 div:nth-child(11):hover {
    background-color: pink;
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
    -webkit-transition: 0.5s;
    transition: 0.5s; }
  .calendar-31 div:nth-child(12) {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100px;
            flex: 0 0 100px;
    border: 1px solid; }
  .calendar-31 div:nth-child(12)::before {
    content: "12"; }
  .calendar-31 div:nth-child(12):hover {
    background-color: pink;
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
    -webkit-transition: 0.5s;
    transition: 0.5s; }
  .calendar-31 div:nth-child(13) {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100px;
            flex: 0 0 100px;
    border: 1px solid; }
  .calendar-31 div:nth-child(13)::before {
    content: "13"; }
  .calendar-31 div:nth-child(13):hover {
    background-color: pink;
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
    -webkit-transition: 0.5s;
    transition: 0.5s; }
  .calendar-31 div:nth-child(14) {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100px;
            flex: 0 0 100px;
    border: 1px solid; }
  .calendar-31 div:nth-child(14)::before {
    content: "14"; }
  .calendar-31 div:nth-child(14):hover {
    background-color: pink;
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
    -webkit-transition: 0.5s;
    transition: 0.5s; }
  .calendar-31 div:nth-child(15) {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100px;
            flex: 0 0 100px;
    border: 1px solid; }
  .calendar-31 div:nth-child(15)::before {
    content: "15"; }
  .calendar-31 div:nth-child(15):hover {
    background-color: pink;
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
    -webkit-transition: 0.5s;
    transition: 0.5s; }
  .calendar-31 div:nth-child(16) {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100px;
            flex: 0 0 100px;
    border: 1px solid; }
  .calendar-31 div:nth-child(16)::before {
    content: "16"; }
  .calendar-31 div:nth-child(16):hover {
    background-color: pink;
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
    -webkit-transition: 0.5s;
    transition: 0.5s; }
  .calendar-31 div:nth-child(17) {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100px;
            flex: 0 0 100px;
    border: 1px solid; }
  .calendar-31 div:nth-child(17)::before {
    content: "17"; }
  .calendar-31 div:nth-child(17):hover {
    background-color: pink;
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
    -webkit-transition: 0.5s;
    transition: 0.5s; }
  .calendar-31 div:nth-child(18) {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100px;
            flex: 0 0 100px;
    border: 1px solid; }
  .calendar-31 div:nth-child(18)::before {
    content: "18"; }
  .calendar-31 div:nth-child(18):hover {
    background-color: pink;
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
    -webkit-transition: 0.5s;
    transition: 0.5s; }
  .calendar-31 div:nth-child(19) {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100px;
            flex: 0 0 100px;
    border: 1px solid; }
  .calendar-31 div:nth-child(19)::before {
    content: "19"; }
  .calendar-31 div:nth-child(19):hover {
    background-color: pink;
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
    -webkit-transition: 0.5s;
    transition: 0.5s; }
  .calendar-31 div:nth-child(20) {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100px;
            flex: 0 0 100px;
    border: 1px solid; }
  .calendar-31 div:nth-child(20)::before {
    content: "20"; }
  .calendar-31 div:nth-child(20):hover {
    background-color: pink;
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
    -webkit-transition: 0.5s;
    transition: 0.5s; }
  .calendar-31 div:nth-child(21) {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100px;
            flex: 0 0 100px;
    border: 1px solid; }
  .calendar-31 div:nth-child(21)::before {
    content: "21"; }
  .calendar-31 div:nth-child(21):hover {
    background-color: pink;
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
    -webkit-transition: 0.5s;
    transition: 0.5s; }
  .calendar-31 div:nth-child(22) {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100px;
            flex: 0 0 100px;
    border: 1px solid; }
  .calendar-31 div:nth-child(22)::before {
    content: "22"; }
  .calendar-31 div:nth-child(22):hover {
    background-color: pink;
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
    -webkit-transition: 0.5s;
    transition: 0.5s; }
  .calendar-31 div:nth-child(23) {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100px;
            flex: 0 0 100px;
    border: 1px solid; }
  .calendar-31 div:nth-child(23)::before {
    content: "23"; }
  .calendar-31 div:nth-child(23):hover {
    background-color: pink;
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
    -webkit-transition: 0.5s;
    transition: 0.5s; }
  .calendar-31 div:nth-child(24) {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100px;
            flex: 0 0 100px;
    border: 1px solid; }
  .calendar-31 div:nth-child(24)::before {
    content: "24"; }
  .calendar-31 div:nth-child(24):hover {
    background-color: pink;
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
    -webkit-transition: 0.5s;
    transition: 0.5s; }
  .calendar-31 div:nth-child(25) {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100px;
            flex: 0 0 100px;
    border: 1px solid; }
  .calendar-31 div:nth-child(25)::before {
    content: "25"; }
  .calendar-31 div:nth-child(25):hover {
    background-color: pink;
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
    -webkit-transition: 0.5s;
    transition: 0.5s; }
  .calendar-31 div:nth-child(26) {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100px;
            flex: 0 0 100px;
    border: 1px solid; }
  .calendar-31 div:nth-child(26)::before {
    content: "26"; }
  .calendar-31 div:nth-child(26):hover {
    background-color: pink;
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
    -webkit-transition: 0.5s;
    transition: 0.5s; }
  .calendar-31 div:nth-child(27) {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100px;
            flex: 0 0 100px;
    border: 1px solid; }
  .calendar-31 div:nth-child(27)::before {
    content: "27"; }
  .calendar-31 div:nth-child(27):hover {
    background-color: pink;
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
    -webkit-transition: 0.5s;
    transition: 0.5s; }
  .calendar-31 div:nth-child(28) {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100px;
            flex: 0 0 100px;
    border: 1px solid; }
  .calendar-31 div:nth-child(28)::before {
    content: "28"; }
  .calendar-31 div:nth-child(28):hover {
    background-color: pink;
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
    -webkit-transition: 0.5s;
    transition: 0.5s; }
  .calendar-31 div:nth-child(29) {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100px;
            flex: 0 0 100px;
    border: 1px solid; }
  .calendar-31 div:nth-child(29)::before {
    content: "29"; }
  .calendar-31 div:nth-child(29):hover {
    background-color: pink;
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
    -webkit-transition: 0.5s;
    transition: 0.5s; }
  .calendar-31 div:nth-child(30) {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100px;
            flex: 0 0 100px;
    border: 1px solid; }
  .calendar-31 div:nth-child(30)::before {
    content: "30"; }
  .calendar-31 div:nth-child(30):hover {
    background-color: pink;
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
    -webkit-transition: 0.5s;
    transition: 0.5s; }
  .calendar-31 div:nth-child(31) {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100px;
            flex: 0 0 100px;
    border: 1px solid; }
  .calendar-31 div:nth-child(31)::before {
    content: "31"; }
  .calendar-31 div:nth-child(31):hover {
    background-color: pink;
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
    -webkit-transition: 0.5s;
    transition: 0.5s; }

/*# sourceMappingURL=main.css.map */
